body {
  margin: 0;
  font-family: Lucida Console, monospace, cursive;
  background-image: url(images/backgraund.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  margin: 50px;
  color: #EBCDFF;
  text-align: center;
  font-size: 49px;
  width: 100%;
}
.my-image {
  margin: 50px;
  height: 280px;
  border-radius: 50%;
}
#menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
a {
  width: 200px;
  text-decoration: none;
  margin: 10px;
  color: #EBCDFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}
.slider-qr, .to-do-qr {
  height: 200px;
}
#icons {
  width: 250px;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
#icons a img {
  margin: 3px;
  height: 50px;
  width: 50px;
}