body {
  margin: 0;
  font-family: cursive;
  background-color: coral;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  margin: 10px;
  color: #E9E189;
  text-align: center;
  font-size: 50px;
  width: 100%;
}
.my-image {
  margin: 20px;
  height: 280px;
  border-radius: 50%;
}
a {
  text-decoration: none;
  margin: 10px;
  color: #E9E189;
  text-align: center;
  font-size: 20px;
  flex: 1;
}
#menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.to-do, .slider {
  width: 280px;
}