img {
  width: 650px;
  height: 650px;
}
#slider {
  width: 650px;
  height: 650px;
  margin: auto;
  position: relative;
  border: 10px solid aquamarine;
  box-shadow: 0 0 5px 2px #ccc;
}
button {
  width: 60px;
  border: none;
  background: #F0883D;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 335px;
  cursor: pointer;
}
#prew {
  padding: 15px 15px 15px 3px;
  border-radius: 0 10px 10px 0;
}
#next {
  padding: 15px;
  margin-left: 590px;
  border-radius: 10px 0 0 10px;
}
#play {
  border-right: 1px solid;
  padding: 15px;
  margin-left: 265px;
  top: 660px;
  border-radius: 10px 0 0 10px;
}
#pause {
  padding: 15px 15px 15px 5px;
  border-left: 1px solid;
  margin-left: 325px;
  top: 660px;
  border-radius: 0 10px 10px 0;
}