img {
  width: 650px;
  border: 10px solid aquamarine;
  box-shadow: 0 0 5px 2px #ccc;
  animation: img 1s linear;
}
@keyframes img {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider {
  width: 650px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 60px;
  border-style: none;
  background-color: #F0883D;
  position: relative;
  cursor: pointer;
}
#prew {
  width: 60px;
  padding: 15px;
  border-radius: 30px 0 0 30px;
}
#next {
  width: 60px;
  padding: 15px;
  border-radius: 0 30px 30px 0;
}
#play-pause {
  width: 100px;
  padding: 15px;
  border-radius: 30px;
}