* {
  outline: none;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border-style: none;
  padding: 0;
  color: #F0883D;
  font-size: 20px;
  font-family: Monospace;
}
.add-item {
  width: 850px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
#add-btn {
  height: 60px;
  width: 100px;
  border: none;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
#text {
  width: 750px;
  height: 60px;
  border-style: none;
  background-color: #ccc;
  color: #F0883D;
  font-size: 30px;
  font-family: Monospace;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}
#to-do-list {
  width: 850px;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #F0883D;
  font-size: 30px;
  font-family: Monospace;
  border-radius: 10px;
}
#to-do-list .delete{
  height: 50px;
  width: 100px;
  border: none;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
.item-text {
  width: 700px;
  margin: 5px 0 0 10px;
}
#to-do-list .item {
  width: 850px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  border-radius: 10px;
  background-color: #ccc;
}
.checkbox {
  height: 50px;
  width: 50px;
  border-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}